.category {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.catagory-menu {
    margin: 5px 0 5px 0;
}
.ui.dropdown:not(.button)>.default.text {
    color: black !important;
}
button.ui.button {
    border: 1px solid rgba(34,36,38,.15);
}